/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal fgumi UMI tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    config_profile_name        = 'Test fgumi profile'
    config_profile_description = 'Minimal test dataset to check experimental fgumi UMI handling'

    input            = 'https://raw.githubusercontent.com/nf-core/test-datasets/smrnaseq/samplesheet/v2.0/samplesheet_umi.csv'
    fasta            = 'https://raw.githubusercontent.com/nf-core/test-datasets/smrnaseq/reference/genome.fa'
    bowtie_index     = 'https://raw.githubusercontent.com/nf-core/test-datasets/smrnaseq/reference/bowtie_index.tar.gz'

    mirtrace_species = 'hsa'
    skip_mirdeep     = true

    with_umi              = true
    with_fgumi            = true
    fgumi_read_structures = '+T'
}

includeConfig 'protocol_illumina.config'
